<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Client.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EA1469BE8213FA1739A0E5C308781646A1A3F65A</string>
				<key>dateExpires</key>
				<string>12/11/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T769358C7Q.com.huseyin.testclient</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WL5A5G3S8A</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T769358C7Q.com.huseyin.testclient</string>
				</array>
			</dict>
			<key>name</key>
			<string>Client.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7116fbea-517e-47d6-b795-cb7734a2ad47</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WL5A5G3S8A</string>
				<key>name</key>
				<string>Eteration Bilisim Cozumleri Ticaret AS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
